// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main: #014f8e;
$second: #00325b;
$text: #444;
$gradient: linear-gradient(#014f8e, #00325b);

