<Section>

<div class="container">
<div class="car-title">
<h1>Mis reservas</h1>

</div>
    <div class="card">
      <div class="card-body">
        <%= @booking.s_date %>
        <br>
        <br>
      
        <%= @booking.f_date %>
          </div>
      </div>
</div>


</Section>
