<section>
<div class="container">
<div class="car-title">
<h1>Mis reserva</h1>
</div>

</div>
    <div class="card">
      <div class="card-body">

       <p>Tu reserva inicia el:  <%= @booking.s_date %> </p>
        <br>
        <br>

      <p>Tu reserva termina el:   <%= @booking.f_date %> </p>
          </div>
      </div>
</div>


</Section>
