<div class="car-title">
  <h1>Edita tu reserva</h1>
</div>
<div class="ed-book-form">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render "form" %>
    </div>
  </div>
</div>
