    <section class="about" id="about">
        <div class="heading">
            <span>¿Quienes somos?</span>
            <h1>Conoce mas sobre nosotros</h1>
        </div>
        <div class="about-container">
            <div class="about-img">
              <%= link_to root_path, class: 'navbar-brand' do %>
                <%= image_tag("about.png", class:'about.img') %>
              <% end %>
        </div>
        <div class="about-text">
            <span>Sobre nosotros</span>
            <p>Llegamos al mercado de alquiler de vehiculos para revolucionarlo poniendo en manos de las personas que lo requieren vehiculos de todas las gamas.</p>
            <br>
            <p>En FIGO Rent a Car nos preocupamos por la seguridad de nuestros clientes, por eso todos nuestros vehiculos son revisados y mantenidos para que tu viaje sea seguro.</p>
            <a href="#" class="btn">Saber Mas</a>
        </div>
    </section>
