          <footer class="footer">
        <div class="footer-container">
            <div class="box">
                <h2>FIGO Rent a Car</h2>
                <p>Una division de FIGO Services S.A.S.</p>
                <div class="social">
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
            </div>

            <div class="box">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#ride">Vehiculos</a></li>
                    <li><a href="#services">Servicios</a></li>
                </ul>
            </div>

            <div class="box">
                <h2>Informacion</h2>
                <ul>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Politicas de cookies</a></li>
                </ul>
            </div>

            <div class="box">
                <h2>Contacto</h2>
                <ul>
                    <li><a href="#">+57 3214567890</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>&#169; Diseñado con el ❤️ en FIGO</p>
        </div>
