      <header>
      <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag("logo.png", class:'logo') %>
      <% end %>

      <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
          <li><a href="#home">Inicio</a></li>
          <li><a href="#ride">Vehiculos</a></li>
          <li><a href="#services">Servicios</a></li>
        </ul>
        <div class="header-btn">
          <a href="#" class="sing-up">Registrate</a>
            <a href="#" class="sign-in">Iniciar Sesión</a>
        </div>
    </header>
