    <section class="newsletter" id="newsletter">
        <h2>Suscribase a nuestro blog</h2>
        <p>Reciba las ultimas noticias y ofertas</p>
        <div class="box">
            <input type="text" placeholder="Ingrese su correo">
            <a href="#" class="btn">Suscribirse</a>
        </div>

    </section>
