    <section class="ride" id="ride">
        <div class="heading">
            <span>¿Como funciona?</span>
            <h1>Alquila con nosotros de la forma mas sencilla.</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class="bx bxs-calendar-check"></i>
                <h2>Escoge la fecha de recogida</h2>
                <p>Puedes alquilar el vehiculo por dias o por meses.</p>
            </div>

            <div class="box">
                <i class="bx bxs-calendar-star"></i>
                <h2>Agenda el vehiculo</h2>
                <p>Termina el proceso formalizando la agenda del vehiculo.</p>
            </div>
        </div>
    </section>
