    <section class="home" id="home">
        <div class="text">
           <h1><span>¿Estás buscando</span> <br>alquilar un vehiculo?</h1>
           <p>Tenemos el vehiculo que necesitas por el tiempo que requieres.</p>
        </div>
            </form>
        </div>
    </section>
