    <section class="home" id="home">
        <div class="text">
           <h1><span>¿Estás buscando</span> <br>alquilar un vehiculo?</h1>
           <p>Tenemos el vehiculo que necesitas por el tiempo que requieres.</p>
        </div>

        <div class="form-container">
            <form action="">
                <div class="input-box">
                    <span>Ubicación</span>
                    <input type="search" name="" id="" placeholder="Buscar una ubicación">
                </div>
                <div class="input-box">
                    <span>Fecha de recogida</span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span>Fecha de entrega</span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <input type="submit" name="" id="" class="btn">
                </div>

            </form>
        </div>
    </section>
